<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:resetsortorder" type="Sitecore.Shell.Framework.Commands.ResetSortorder,Sitecore.Kernel" set:type="Sitecore.Support.Shell.Framework.Commands.ResetSortorder, Sitecore.Support.95401" />
    </commands>
    <processors>
      <uiDragItemTo>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel" set:type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.95401" method="Execute"/>
        <processor mode="on" patch:before="*[@method='Execute']" type="Sitecore.Buckets.Pipelines.UI.ItemDrag, Sitecore.Buckets" set:type="Sitecore.Support.Buckets.Pipelines.UI.ItemDrag, Sitecore.Support.95401" method="Execute"/>
      </uiDragItemTo>
    </processors>
  </sitecore>
</configuration>